{% assign yt = site.data.paper.youtube_id %}
{% if yt and yt != "" %}
<section class="section" id="video">
  <div class="container is-max-desktop">
    <div class="columns is-centered has-text-centered">
      <div class="column is-four-fifths">
        <h2 class="title is-3">Video</h2>
        <div class="publication-video">
          <iframe src="https://www.youtube.com/embed/{{ yt }}?rel=0&amp;showinfo=0"
                  title="Paper video" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
